@model IEnumerable<Ships6.Models.Destination>

@{
    ViewBag.Title = "Destinations Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DestinationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationImage)            
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.DestinationName
        </td>
        <td>
            @item.DestinationCountry 
        </td>
        <td>
            @if (item.DestinationImage != null){
                <img src="data:image;base64,@System.Convert.ToBase64String(item.DestinationImage)" width="80" height="80" />
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DestinationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DestinationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DestinationID })
        </td>
    </tr>
}

</table>
