<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!--Styles.Render("~/Content/css")-->
    @Scripts.Render("~/bundles/modernizr")
    
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/Content/materialize/css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">-->

    <script type="text/javascript">
        /*var appInsights=window.appInsights||function(config){
            function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t
        }({
            instrumentationKey:"e20dd521-8add-417f-8ed1-3584fbf6afad"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();*/
    </script>
</head>
<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo" style="color:black;">Logo</a>
            <ul class="right hide-on-med-and-down">
                @Html.Partial("_LoginPartial")
                <li>@Html.ActionLink("Home", "Index", "Home", new { style="color:black;" })</li>
                <li>@Html.ActionLink("About", "About", "Home", new { style = "color:black;" })</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", new { style = "color:black;" })</li>
            </ul>

            <ul style="left: -250px;" id="nav-mobile" class="side-nav">
                @Html.Partial("_LoginPartial")
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse light-blue-text"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    @if (ViewBag.isParallax != null){
    @Html.Partial("_Parallax1")
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    <!--Scripts.Render("~/bundles/bootstrap")-->
    @RenderSection("scripts", required: false)


    <!-- MaterializeCSS stuff -->
        <!-- Compiled and minified JavaScript -->
    <script src="~/Content/materialize/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".button-collapse").sideNav();
            try{
                $('.parallax').parallax();
            }catch(exc){

            }
        });
    </script>
</body>
</html>
