@model Ships6.Models.CabinType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CabinType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CabinTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CabinTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CabinTypePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CabinTypePrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CabinTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
