@using Ships6.Models;
@model CruiseCompareViewModel


@{
    ViewBag.Title = "Cruise Comparison";
    var cruiseArray = Model.cruiseList;
    var destinationDictionary = Model.cruiseDestinationsDictionary;

    
    //vars used to track the "best" cruises according to price, length, etc 
    int cheapestTripID = 0;
    decimal? cheapestTripPrice = null;
    
    int longestTripID = 0;
    int? longestTripDays= null;

    int mostDestinationsID = 0;
    int? mostDestinations = null;

    int earliestID = 0;
    DateTime? earliest = null;
    //end of tracking vars
    
    if (ViewBag.isPartialView != null && (bool)ViewBag.isPartialView)
    {
        Layout = null;            
    }    
}

<h2>Cruise Comparison</h2>

<table class="bordered hoverable responsive-table centered ">
    <thead>
        <tr>
            <th></th>
            @for (int i = 0; i < cruiseArray.Count; i++)
            {
                if (cruiseArray[i].CruiseImage != null)
                {
                    <th>
                        <a href="/CruiseCatalogue/Details/@cruiseArray[i].CruiseID">
                            <img src="data:image;base64,@System.Convert.ToBase64String(cruiseArray[i].CruiseImage)" height="200" />
                        </a>
                    </th>
                }
                else
                {
                    <th>
                        <a href="/CruiseCatalogue/Details/@cruiseArray[i].CruiseID">
                            <img src="~/Content/assets/NOIMAGE.jpg" height="200" />
                        </a>
                    </th>
                }
            }
        </tr>
    </thead>


    <tbody>
        <tr>
            <td><h6>Name</h6></td>
            @for (int i = 0; i < cruiseArray.Count; i++)
            {
                <td>
                    @cruiseArray[i].CruiseName
                </td>
            }
        </tr>


        <tr>
            <td><h6>Price</h6></td>
            @for (int i = 0; i < cruiseArray.Count; i++)
            {
                <td id="price-@cruiseArray[i].CruiseID">
                    RM @cruiseArray[i].CruisePrice.ToString("N")
                </td>
                
                if (cheapestTripPrice == null || cruiseArray[i].CruisePrice < cheapestTripPrice)
                {
                    cheapestTripPrice = cruiseArray[i].CruisePrice;
                    cheapestTripID = cruiseArray[i].CruiseID;
                }
            }
        </tr>


        <tr>
            <td><h6>Cruise Length</h6></td>
            @for (int i = 0; i < cruiseArray.Count; i++)
            {
                <td id="days-@cruiseArray[i].CruiseID">
                    @cruiseArray[i].CruiseDayLength days
                </td>
                
                if (longestTripDays == null || cruiseArray[i].CruiseDayLength > longestTripDays)
                {
                    longestTripDays = cruiseArray[i].CruiseDayLength; longestTripID = cruiseArray[i].CruiseID;
                }
            }
        </tr>

        <tr>
            <td><h6>Departure Date</h6></td>
            @for (int i = 0; i < cruiseArray.Count; i++)
            {
                <td id="depart-@cruiseArray[i].CruiseID">
                    @cruiseArray[i].CruiseDepartureTime
                </td>

                if (earliest == null || cruiseArray[i].CruiseDepartureTime < earliest)
                {
                    earliest = cruiseArray[i].CruiseDepartureTime;
                    earliestID = cruiseArray[i].CruiseID;
                }
            }
        </tr>

        <!--
        <tr>
            <td><h6>Destinations</h6></td>
            @for (int i = 0; i < cruiseArray.Count; i++)
            {
                <td id="destinations-@cruiseArray[i].CruiseID">
                    @foreach (Destination destination in destinationDictionary[cruiseArray[i].CruiseID])
                    {
                        <p>@destination.DestinationName, @destination.DestinationCountry</p>
                    }

                    @if (mostDestinations == null || destinationDictionary[cruiseArray[i].CruiseID].Count > mostDestinations)
                    {
                        mostDestinations = destinationDictionary[cruiseArray[i].CruiseID].Count; 
                        mostDestinationsID = cruiseArray[i].CruiseID;
                    }
                </td>
            }
        </tr>-->


        <tr>
            <td><h6>Cruise Operator</h6></td>
            @for (int i = 0; i < cruiseArray.Count; i++)
            {
                <td>
                    @cruiseArray[i].Operator.OperatorName
                </td>
            }
        </tr>

        <tr>
            <td><h6>Booking</h6></td>
            @for (int i = 0; i < cruiseArray.Count; i++)
            {
                <td>
                    <a href="/ReservationMaker/Make/@cruiseArray[i].CruiseID" class="btn">Book Now</a>
                </td>
            }
        </tr>
    </tbody>
</table>
<a id="clearCompareButton" href="Clear" class="btn-flat red-text">Clear Comparison</a>

<script type="text/javascript">

    window.onload = function () {
        var cheapest = document.getElementById("price-@cheapestTripID");
        var longest = document.getElementById("days-@longestTripID");
        var destinationest = document.getElementById("destinations-@mostDestinationsID");
        var earliest = document.getElementById("depart-@mostDestinationsID");

        $(cheapest).prepend('<span class="blue-text">[Most Affordable!]</span><br/>');
        $(longest).prepend('<span class="blue-text">[Longest Trip!]</span><br/>');
        $(destinationest).prepend('<span class="blue-text">[Most Destinations!]</span><br/>');
        $(earliest).prepend('<span class="blue-text">[Earliest!]</span><br/>');
        //cheapest.appendChild('<span class="badge red-text">Most Affordable!</span>');


    }
</script>
