@using Ships6.Models
@model Ships6.Models.Cruise

@{
    ViewBag.Title = Model.CruiseName + " Details";

    List<Destination> destinationList = (List<Destination>) ViewBag.destinationList;
}


<div>
    <h2>@Html.DisplayFor(model => model.CruiseName)</h2>
    <hr />

    <div id="imageWrapper" class="center-block" style="width:100%;max-height:40%;">
        @if (Model.CruiseImage != null)
        {
            <img class="center-block" src="data:image;base64,@System.Convert.ToBase64String(Model.CruiseImage)" style="height:400px;"/>
        }
        else
        {
            <img class="center-block" src="~/Content/assets/NOIMAGE.jpg" style="height:400px;" />
        }
    </div>


    <table class="bordered hoverable">
    <tbody>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CruiseName)
            </td>
            <td>
                @Html.DisplayFor(model => model.CruiseName)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Operator.OperatorName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Operator.OperatorName)
            </td>

        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CruiseDescription)
            </td>
            <td>
                @Html.DisplayFor(model => model.CruiseDescription)
            </td>
        </tr>
    
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CruisePrice)
            </td>
            <td>
                RM @Model.CruisePrice.ToString("N")
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CruiseDepartureTime)
            </td>
            <td>
                @Html.DisplayFor(model => model.CruiseDepartureTime)
            </td>
        </tr>

        <tr>
            <td>
                Cruise Length
            </td>
            <td>
                @Html.DisplayFor(model => model.CruiseDayLength) days
            </td>

        </tr>

        <!--
        <tr>
            <td>Destinations</td>
            <td>
                @foreach (Destination ds in destinationList)
                {
                    <p>@ds.DestinationName, @ds.DestinationCountry</p>
                }
            </td>
        </tr>-->

    </tbody>
    </table>

    <!--
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CruiseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CruiseName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Operator.OperatorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Operator.OperatorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CruiseDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CruiseDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CruisePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CruisePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CruiseDepartureTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CruiseDepartureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CruiseDayLength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CruiseDayLength)
        </dd>

    </dl>
        -->
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("Make Booking", "Make", "ReservationMaker", new { id = Model.CruiseID }, new { @class = "btn right" })
    <br />
    <br />
    <br />
    <br />
</p>
